body{
    background: rgb(102, 102, 235);
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 100;
}

nav{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    background-color: azure;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: small;
    
    
}

nav[value="1"]{
    padding: 20px 60px;
}
.ul-nav{
    display: flex;
    justify-content:space-between;
    text-decoration: none;
    
}

.li-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: rgb(102, 102, 235);
    font-size: 40px;
}

.p-footer{
    color: rgb(102, 102, 235);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 100;
}





